# West manages these folders. modules/* are west clones, except iobroker,
# which is an in-tree Zephyr module (see modules/iobroker/README.md); its
# datasheets/ PDFs are licensed by Nordic and not redistributed here.
bootloader
build
modules/*
!modules/iobroker
modules/iobroker/datasheets/*
!modules/iobroker/datasheets/README.md
/tools
zephyr
.west
